*programs*
*.libs*
*example*
*test*
*.o
*.lai
*.la
*.opp
*.swp
*.lo
*.out
*.exe
*.Plo
*.Po
*.dll
*.so
*.lib
*.a
*.so.*
\*\.log
*.bin
*.log
*.bin
*.make
*config.status*
*libtool*
*.gch
*.obj
build_*
*.tar
*.tar.*
*.zip
*.xz
*.gz
*.tgz
include
